#packages {
  background: rgb(40, 38, 223);
  background: linear-gradient(
    90deg,
    rgba(40, 38, 223, 1) 0%,
    rgba(108, 9, 121, 1) 35%,
    rgba(255, 0, 249, 1) 100%
  );
}
.aa {
  position: relative;
  text-align: center;
}
.aa .bb {
  width: 10rem;
  position: absolute;
  top: 170px;
  left: 110px;
  border-radius: 50%;
  border: 4px solid white;
}
.card-title {
  padding-top: 70px;
}
#packagess {
  background: rgb(40, 38, 223);
  background: linear-gradient(
    90deg,
    rgba(40, 38, 223, 1) 0%,
    rgba(108, 9, 121, 1) 35%,
    rgba(255, 0, 249, 1) 100%
  );
}
